@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'Afacad';
    src: url('./fonts/Open_Sans/Afacad/Afacad-VariableFont_wght.ttf') format('truetype');
  }

@font-face {
    font-family: 'montserrat';
    src: url('./fonts/Open_Sans/montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}  

.scroll-smooth {
  scroll-behavior: smooth;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}

#closeIcon {
  bottom: 10px; /* Mueve la cruz hacia abajo (ajusta el valor según tus necesidades) */
  right: 20px; /* Mantén el valor original o ajusta según tus necesidades */
}


