@import 'node_modules/tailwindcss/base.css';
@import 'node_modules/tailwindcss/components.css';
@import 'node_modules/tailwindcss/utilities.css';

@font-face {
    font-family: 'Afacad';
    src: url('./fonts/Open_Sans/Afacad/Afacad-VariableFont_wght.ttf') format('truetype');
  }

@font-face {
    font-family: 'montserrat';
    src: url('./fonts/Open_Sans/montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}  

.scroll-smooth {
  scroll-behavior: smooth;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}

.modal-content {
  animation: bounce 0.5s ease;
}

@keyframes bounce {
  from, 20%, 50%, 80%, to {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(15px);
  }
}
