@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Afacad';
    src: url('./fonts/Open_Sans/Afacad/Afacad-VariableFont_wght.ttf') format('truetype');
  }

@font-face {
    font-family: 'montserrat';
    src: url('./fonts/Open_Sans/montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}  

.scroll-smooth {
  scroll-behavior: smooth;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}